$background: rgb(251, 245, 255);
$background_highlight: #FFF;
$border: rgb(225, 177, 255);
$border_highlight: rgb(210, 137, 255);
$border_accent: rgb(138, 78, 173);
$text_disabled: rgb(96, 75, 109);
$text_active: rgb(191, 108, 240);
$accent: rgb(197, 139, 245);
$accent_light: rgb(222, 190, 248);
$accent_active: rgb(248, 152, 248);

body {
    background-color: $background;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    color: $text_disabled;
}

#content {
    margin-left: 30vh;
    padding: 0.2em;
}

h1 {
    font-size: 1.2em;
    margin: 0 0 1vh;
    padding: 0.2em;
    border-bottom: 1px solid $border;
}

a {
    color: inherit;
    text-decoration: inherit;
}

// Navbar
#navbar {
    position: fixed;
    width: 30vh;
    height: 100%;
    margin: 0;
    background-color: $accent_light;
    overflow: auto;
}

#navbar a {
    display: block;
    padding: 0.8em;
}

#navbar a:hover {
    background-color: $accent;
}

@media (max-width: 500px) {
    #navbar {
        position: relative;
        width: 100%;
        height: auto;
    }

    #content {
        margin-left: 0;
    }
}

.container {
    max-width: 120vh;
    margin: 0.2em auto;
    padding: 0.3em;
    overflow: hidden;
}

.status-container {
    border: 1px solid $border;
    border-radius: 0.2em;
    display: flex;
    align-items: center;
    transition: 400ms;
}

.status-container.enabled {
    background-color: $background_highlight;
    border-color: $border_highlight;
    box-shadow: 0 0.1em 0.6em rgb(234, 199, 255);
}

.container.deleted {
    animation: zip 400ms ease-out;
}

@keyframes zip {  // Animation for deleted containes
    from {
        max-height: 3em;
    }
    to {
        max-height: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-top: -0.1em;
        margin-bottom: -0.1em;
    }
}

input, button {
    appearance: none;
    -webkit-appearance: none;

    margin: 0.2em;
    outline: none;
}

// Radio button
input[type=radio] {
    width: 2em;
    height: 2em;
    vertical-align: middle;


    border: 1px solid rgb(225, 177, 255);
    border-radius: 50%;
    background-color: $background;
}

input[type=radio]:checked {
    background-color: $background_highlight;
}

input[type=radio]:hover {
    border-color: $border_highlight;
}

input[type=radio]:before {
    display: block;
    content: '';
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;

    border: 1px solid $border;
    border-radius: 50%;
    background-color: transparent;

    transition: 200ms;
}

input[type=radio]:checked {
    border-color: $border_highlight;
}

input[type=radio]:checked:before {
    background-color: $accent;
    border-color: $border_accent;
    width: 40%;
    height: 40%;
    transition: 100ms;
}

// Text input
input[type=text], input[type=password] {
    border: 1px solid $border;
    border-radius: 0.2em;
    background-color: $background_highlight;
    padding: 0.4em;
    color: $text_active;

    font-family: inherit;
}

.status-input {
    min-width: 0;
    width: 100%;
    flex: 1;

    font-size: 1.1em;
    background-color: transparent;
}

.status-input:disabled {
    color: $text_disabled;
    background-color: transparent;
    border-color: transparent;
}

// Checkbox
input[type=checkbox] {
    width: 2em;
    height: 2em;
    position: relative;
    vertical-align: middle;
    background-color: $background_highlight;
    border: 1px solid $border;
    border-radius: 0.2em;
    overflow: hidden;
}

input[type=checkbox]:hover {
    border-color: $border_highlight;
}

input[type=checkbox]:before {
    display: block;
    content: "";
    position: relative;
    width: 0;
    height: 0;
    top: 48%;
    left: 48%;
    transform: translate(-50%, -50%);
    background-color: $accent;
    border: none;
    // border-radius: 0.2em;
    transition: 100ms;
}

input[type=checkbox]:checked:before {
    border: 1px solid $border_accent;

    width: 60%;
    height: 60%;
}


// Buttons
button {
    color: $background;
    font: inherit;
    height: 2em;

    border: 1px solid $border_accent;
    border-radius: 0.2em;

    background-color: $accent;
}

button:hover {
    background-color: $accent_light;
}

button:active {
    background-color: $accent_active;
}

.icon-button:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $background_highlight;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.icon-button {
    width: 2em;
}

.delete-button:before {
    mask-image: url(/static/icons/x.svg);
    -webkit-mask-image: url(/static/icons/x.svg);
}

.edit-button:before{
    mask-image: url(/static/icons/pencil.svg);
    -webkit-mask-image: url(/static/icons/pencil.svg);
}

.edit-button.enabled:before{
    mask-image: url(/static/icons/lock.svg);
    -webkit-mask-image: url(/static/icons/lock.svg);
}
