{% extends "base.j2" %}

{% block content %}
<div class="container">
    <p><b>phlox</b> web based signage</p>

    <p>Contribute on <a href="https://github.com/HansLehnert/phlox/">GitHub</a></p>

    <p>Distributed under MIT license</p>
</div>
{% endblock %}
