<!doctype html>
<html lang="en">
    <head>
        <script
            src={{ url_for('static', filename='scripts/panel_update.js')}}>
        </script>
        <link href={{ url_for('static', filename='css/panel.scss.css') }} rel="stylesheet">
    </head>
    <body>
        <div id="status_container"><span id="status_text">{{ status }}</span></div>

        <div id="address">{{ address }}</div>
    </body>
</html>
