{% extends "base.j2" %}

{% block script %}
<script src="{{ url_for('static', filename='scripts/status_select.js') }}"/>
</script>
{% endblock %}

{% block content %}
<!-- <iframe width="300" height="200" src="/panel"></iframe> -->

{% for id, item in descriptions %}
<div id="status-{{ id }}"
    class="container status-container
    {% if id == 'custom' %} enabled {% endif %}">
    <input type="radio" name="status"
        {% if selected == id %}checked=true{% endif %}>
    <!-- <label for="{{ id }}">{{item}}</label> -->
    <input type="text" value="{{ item }}"
        {% if id != 'custom' %} disabled {% endif %}>
    <button class="edit-button
        {% if id == 'custom' %} enabled {% endif %}"></button>
    <button class="delete-button"></button>
</div>
{% endfor %}
{% endblock %}
